:root {
    --primary-font: 'Poppins', sans-serif;
    --body-size: 1920px;
    --primary-color: #42A7C2;
    --black-color: #333333;
    --white-color: #FFFFFF;
    --gray-color: #7B7B7B;
    --lightBlue-color: #EAF1F7;
    //container
    --container-size: 1200px;
    --padding-container: 15px;
    // nav
    --nav-size: 220px;
    --spacing-content: 50px;
    --spacing-nav-top: 10px;
}
